<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Malicious URL Sniper</title>
        <!-- Bootstrap Javascript -->
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <!-- Bootstrap Theme CSS -->
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
        <!-- JQuery -->
        <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
        <!-- Bootstrap Core -->
        <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Springy -->
        <script type="text/javascript" src="/javascript/springy.js"></script>
        <script type="text/javascript" src="/javascript/springyui.js"></script>

        <!-- jQuery.animateNumber -->
        <script type="text/javascript" src="/javascript/jquery.animateNumber.min.js"></script>

        <!-- Font awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <!-- Favicon -->
        <link rel="icon" href="/images/favicon.ico">
   </head>

    <body>
        <header>
            <h1><img src="/images/logo.png" /></h1>
        </header>

        <div class="container">
            <div class="row">
                <h1></h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <h1 class="text-primary text-center">Malicious URL Sniper</h1>
                </div>
            </div>
            <div class="row">
                <h1></h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <form id="queryform" role="form" style="margin:10px 0px 20px 0px;">
                        <div class="form-group">
                            <input class="form-control" id="url" name="url" type="text" placeholder="Input the url here...">
                        </div>
                        <button class="btn btn-info" type="submit" >Submit</button>
                    </form>
                </div>
            </div>

            <div class="row">
            </div>
        </div>


        <div class="modal fade" id="report" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" id="closereg" type="button" data-dismiss="modal" aria-label="close">
                            <span>&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Safety Report</h4>
                    </div>
                    <div class="modal-body">
                        <p id="report-url">
                        </p>
                        <span id="report-safety" style="color: black;">0 %</span>
                        <canvas id="report-graph" width="800" height="400">
                            Sorry, your browser doesn't support the &lt;canvas&gt; element.
                        </canvas>
                    </div>
                    <div class="modal-footer">
                        <a id="report-jump" class="btn btn-success" href="#confirm-dialog" data-toggle="modal">GO</a>
                    </div>
               </div>
            </div>
        </div>


        <div class="modal fade" id="notice-dialog" tabindex="-1" role="dialog" aria-labelledby="notice-title" aria-hidden="true">
            <div class="modal-dialog" role="dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" id="close-notice" type="button" data-dismiss="modal" aria-label="close">
                            <span>&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="notice-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="notice-msg"></p>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default" id="notice-ok-btn" href="#" data-dismiss="modal">OK</a>
                    </div>
                </div>
            </div>
        </div>
        <button id="notice-show-btn" type="button" data-toggle="modal" data-target="#notice-dialog" aria-hidden="true">
        </button>

        <div class="modal fade" id="confirm-dialog" tabindex="-1" role="dialog" aria-labelledby="confirm-title" aria-hidden="true">
            <div class="modal-dialog" role="dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" id="close-confirm" type="button" data-dismiss="modal" aria-label="close">
                            <span>&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="confirm-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="confirm-msg">The url is unsafe. Confirm to visit? </p>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger" id="confirm-confirm-btn" href="#" data-dismiss="modal">Confirm</a>
                        <a class="btn btn-default" id="confirm-cancel-btn" href="#" data-dismiss="modal">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <button id="confirm-show-btn" type="button" data-toggle="modal" data-target="#confirm-dialog" aria-hidden="true">
        </button>



        <script type="text/javascript" src="/javascript/common.js"></script>
        <script type="text/javascript" src="/javascript/index.js"></script>
    </body>
</html>
